*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
 }
 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgb(21, 51, 117);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 1px 2px 3px #fff;
    border-radius: 4px;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}
.navbar a {
font-size: 18px;
color: white;
text-decoration: none;
font-weight: 500;
margin-left: 30px ;
margin-right: 25px;
}
.navbar a:hover,
.navbar a:active{
    color: rgb(168, 201, 218);
}
.dropdown{
    border-radius: 5px;
   margin-top: 25px;
}
ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
  
}

ul li a {
    display: block;
    padding: 13px 22px;
    color: #FFF;
    font-size: 20px;
      list-style-type:circle;
    
}

ul li ul.dropdown li {
    display: block;
    list-style: circle;
    
}

ul li ul.dropdown {
    width: 140%;
    background: rgb(21, 51, 117);
    position: absolute;
    display: none;
    text-align: left;
}

ul li a:hover {
    background: rgb(21, 51, 117);
}

ul li:hover ul.dropdown {
    display: block;
}