*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
 }
 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgb(21, 51, 117);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 1px 2px 3px #fff;
    border-radius: 4px;
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}
.navbar a {
font-size: 18px;
color: white;
text-decoration: none;
font-weight: 500;
margin-left: 30px ;
margin-right: 25px;
}
